<h3>Categories</h3>
@page "/categories"
@using BlazorApp1.Models;
@using BlazorApp1.Services;
@inject CategoryService Service;


<ul>
    @foreach (var category in categories)
    {
        <li>
            <input @bind="category.Name" />
            <button @onclick="()=>{Service.DeleteCategory(category.Id); categories = Service.GetCategories();}">Delete category</button>
        </li>
    }
</ul>

<input placeholder="Category to add" @bind="category.Name" />
<button @onclick="()=>{category.Id = 0; Service.AddCategory(category); categories = Service.GetCategories();}">Add category</button>

@code {
    List<Category> categories;

    Category category = new Category();

    private string? newCategory;

    protected override void OnInitialized()
    {
        categories = Service.GetCategories();
    }
}
